@using Microsoft.AspNet.Identity
@using VacationManager.WEB.Extensions
@{
    ViewBag.Title = "Home Page";
    string tt = "/User/Details?id=" + @User.Identity.GetUserIdGuid();
}
<link rel="stylesheet" href="~/Content/svg-calendar.css">
<div class="jumbotron">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<script>
        $.ajax({
            url: "@tt",
            type: "GET",
            success: function (data) {
                console.log(data);
            }
    });
    </script>*@
    @Html.Action("Details", "User", new {id = User.Identity.GetUserIdGuid()})
    @using PerpetuumSoft.Knockout
    @model VacationManager.WEB.Models.VacationViewModel
    <div>
        @{
            var ko = Html.CreateKnockoutContext();
        }
        <p>@ko.Html.Span(m => m.DateStart)</p>
        <h2>Hello, @ko.Html.Span(m => m.DateEnd)!</h2>
    </div>

    @ko.Apply(Model)
</div>

<div class="row">
    <div class="col-md-4">
        <div class="d-flex flex-column">
            <div class="d-inline-flex p-2 justify-content-center">
                <a href="#" id="prev">◀</a>
                <span>calendar</span>
                <a href="#" id="next">▶</a>
            </div>
            <div class="d-flex flex-row">
                <div class="d-inline-flex p-2 calendar-base"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery.svg.js"></script>
<script> var ajaxString = "/Vacation/GetAllVacationJSON";</script>
<script src="~/js/svg-calendar.js"></script>