@{
    ViewBag.Title = "Home Page";
    int index = DateTime.Now.Month;
}

    <div class="jumbotron">
    </div>

<div class="row">
    <div class="col-md-4">
        @Ajax.ActionLink(@"Prev", "_Calendar", new { month = index}, new AjaxOptions {UpdateTargetId = "results"})
        @Ajax.ActionLink(@"Calendar", "_Calendar", new {month = index}, new AjaxOptions {UpdateTargetId = "results"})
        @Ajax.ActionLink(@"Next", "_Calendar", new {month = (index + 1)}, new AjaxOptions {UpdateTargetId = "results"})
        <div id="results"></div>
    </div>
    @*<div class="col-md-4">
        @Ajax.ActionLink(@"Calendar", "_Calendar", new { month = DateTime.Now.Month}, new AjaxOptions { UpdateTargetId = "results2" })
        <div id="results2"></div>
    </div>
    <div class="col-md-4">
        @Ajax.ActionLink(@"Calendar", "_Calendar", new { month = 12}, new AjaxOptions { UpdateTargetId = "results3" })
        <div id="results3"></div>
    </div>*@
</div>